doctype html
html(lang="en")
  include ./includes/head.jade
  body
    h1.title Written in Jade and Node.js
    h1.title Deployed on Heroku
    
    h1.left Let's put some markdown here...
    h1.right ...and see the HTML here
    
    div.container
      div.inline#markdownDiv
        textarea.ioArea#markdownInput
      div.inline.right#htmlDiv
        div.ioArea#htmlOutputArea
      //- div.col-xs-3.col-xs-offset-5
        //- button#convertButton Convert!

    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='./js/main2.js')
