body {
  font-family: monospace;
}

.title {
  text-align: center;
}

div.container {
  height: 70vw;
  width: 70%;
}

div.inline {
  /*display: inline-block;*/
  margin: 5%;
  padding: 5%;
  height: 80%;
  width: 35%;
  /*border: 1px solid black;*/
  position: absolute;
}

.right {
  right: 0;
}

h1.right {
  display: inline;
  float: right;
}

h1.left {
  float:left;
}

.ioArea {
  height: 100%;
  width: 100%;
  display: inline;
  position: relative;
  overflow: scroll;
}
